extends layout

block content
  h1 Edit Page 
    em #{pagename}

  br
  form.edit(method='post', action="/#{pagename}")
    textarea(name="md", rows='20') #{p.raw}
    br
    br
    input.btn.btn-primary(type="submit", value="Speichern")
    a.btn.btn-default(href="/#{pagename}") Abbrechen
    br
    br