extends layout

mixin toolbar
  nav
    a.btn.btn-default(href="/#{pagename}/edit") Bearbeiten

block content
  if flash != null
    .alert.alert-success #{flash}
  +toolbar
  h1 !{page.title}
  p !{page.current().content()}
  +toolbar
