extends layout

block content
  .page-header
    h1 Smofte Development Wiki
      br
      small Powered by Smofte(tm)
  a.btn.btn-default(href="/#{pagename}/edit") Bearbeiten
  hr
  if flash != ""
    .alert.alert-success #{flash}
  br
  p !{content}
