doctype html
html#smofte
  head
    title Smofte.	
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='icon', href='favicon.png', type='image/png').
  body
    div.container
      div.row
        header
          div.col-sm-9
             h1 Smofte.
          div.col-sm-3
              p 
        article.col-sm-12
          block content