extends layout

block content
  .page-header
  a.btn.btn-default(href="/#{pagename}/edit") Erstellen
  h2 Seite existiert nicht
  p Diese Seite existiert nicht -- Sie können sie aber 
    a(href="/#{pagename}/edit") anlegen
  br
