extends layout

block content
  .page-header
    h1 Smofte Development Wiki
      br
      small Powered by Smofte(tm)
  a.btn.btn-default(href="/#{pagename}/edit") Erstellen
  hr
  h2 Seite existiert nicht
  p Diese Seite existiert nicht -- Sie können sie aber 
    a(href="/#{pagename}/edit") anlegen
