#smofte body 
{
  padding: 1em;
  font: 16px "Noto Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background-color: #eee;
}

.content h1
{
	font-weight: bold;
	border-bottom: 1px solid #eee;
	padding-bottom: 0.2em;
}

table
{
	margin-bottom: 1em;
}

#smofte td
{
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}

#smofte small
{
	color: #bbb;
}

li
{
	margin-bottom: 0.2em;
}

a 
{
  color: #00B7FF;
}

nav
{
	display: block;
	clear: both;
	/*border-top: 1px solid #ddd;*/
	border-bottom: 1px solid #eee;
	text-align: right;
	padding: 1em 0;
}

article.content
{
 	background-color: #fff;
 	/*border: 1px solid #dedede;*/
 	border-top: 5px solid #444;
 	padding-left: 3em;
 	padding-right: 3em;
}

.sidebar
{
	padding-top: 2em;
}

.sidebar a
{
	text-decoration: none;
	color: #aaa;
}

.sidebar li
{
	list-style-type: none;
}

.edit textarea
{
	width: 100%;
}

a.btn
{
	margin-right: 1em;
}
